@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Lobster&family=Shadows+Into+Light&display=swap");
:root {
  --main-font: "Lemon", serif;
  --main-font2: "Lobster", sans-serif;
  --main-font3: "Shadows Into Light", cursive;
}

html {
  overflow: hidden;
}

.header {
  font-family: var(--main-font);
}

.sub-header {
  font-family: var(--main-font2);
}

.auth-container {
  background-image: url("./public/assets/fun_theme.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-subcontainer {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 60px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-header h1,
.auth-header h3 {
  text-align: center;
}

.auth-btn {
  background-color: aqua;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  width: 80px;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.auth-btn:hover {
  background-color: #35cbfe;
}

.auth-link a {
  color: #000;
  font-family: var(--main-font2);
}

.submit-control {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
}

.err-msg {
  color: red;
}

.brand-logo {
  font-family: var(--main-font);
  font-size: larger;
  color: white;
}
