html {
  overflow: hidden;
}

.auth-container {
  background-image: url("./public/assets/fun_theme.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-subcontainer {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 60px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-header h1,
.auth-header h3 {
  text-align: center;
}

.auth-btn {
  background-color: aqua;
  padding: 10px;
  border-radius: 6px;
  min-width: 40%;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  align-self: flex-end;
}
.auth-btn:hover {
  background-color: #35cbfe;
}

.err-msg {
  color: red;
}
